@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translate(-20px);
  }
  100% {
    transform: translat(0px);
  }
}

.animation-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.animation-icon {
  font-size: 280px;
  color: #d6e92986;
  animation: floating 5s ease-in-out infinite;
  position: relative;
  top: -280px;
  left: -150px;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
  transition: text-shadow 0.8s ease-in-out;
}

.typing {
  color: aliceblue;
  animation: blink 4s infinite, changeColor 3s;
}

/* Animação do home */
@keyframes blink {
  0%, 100% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
}

@keyframes changeColor {
  0% {
      color: aliceblue;
  }
  33% {
      color: #eba1d8;
  }
  66% {
      color: #6d5dfc;
  }
  100% {
      color: aliceblue;
  }
}



