@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&display=swap');

*{
     margin: 0;
    padding: 0;
    border: 0;
    font-family: "Montserrat", sans-serif; 
}

#projetos {
    padding: 50px;
    /* text-align: center; */
}

.div-container, .div-container-3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    cursor: pointer;
    transition: box-shadow 0.7s ease;
    border-radius: 30px;
}

.div-container-2 {
    display: flex; 
    align-items: center;
    justify-content: space-between; 
    flex-direction:row-reverse;
    cursor: pointer;
    border-radius: 30px;
    
}

.div-container-2:hover, .div-container-3:hover, .div-container:hover {
    box-shadow: 0 0 15px 5px rgba(153, 100, 173, 0.74);
}


.projetos img {
    /* border: 2px solid rgb(18, 0, 27); */
    border-radius: 14px;
    width: 100%;
    max-width: 400px;
    min-height: 110px;
    cursor: pointer;
    margin: 30px;
}

/* .projetos img:hover {
    box-shadow: 0 0 15px 5px rgba(164, 81, 197, 0.74);
} */

.text h3 {
   font-weight: 400;
   padding-left: 50px;
}

.text p {
    font-weight: 180;
    padding-left: 50px;
}

