@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&display=swap'); */

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Montserrat", sans-serif; 
}

#projetos {
    text-align: center; 
    padding: 50px;
}

.projetos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    cursor: pointer;
    /* transition: box-shadow 0.7s ease; */
    border-radius: 30px;
}

.card {
    border: 2px solid #f8f6f618;
    background-color: transparent;
    border-radius: 30px;
    padding: 30px;
    width: 400px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}


.card:hover {
    transform: translate(-1px);
    box-shadow: 0 0 15px 5px rgba(217, 186, 228, 0.74);
}


.card img {
    /* border: 2px solid rgb(18, 0, 27); */
    border-radius: 14px;
    width: 100%;
    max-width: 400px;
    min-height: 110px;
    margin: 30px;
    margin: 0;
}

.card h3 {
   font-weight: 400;
   margin-bottom: 10px;
   /* padding-left: 50px; */
}

.card p {
    color: #d3cccc;
    font-weight: 300;
}


 