@import url("https://fonts.googleapis.com/css2?family=Delius&family=Handlee&family=Iceberg&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nova+Square&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&family=Preahvihear&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "montserrat", sans-serif;
}

header {
  color: #fff;
  padding: 40px;
  display: flex;
  position: static;
  align-items: center;
  justify-content: space-between;
}

header h2 {
  font-size: 28px;
  font-weight: 300;
  font-family: "montserrat", sans-serif;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #6a4875;
  border-radius: 5px;
  padding: 10px 15px;
  transition: box-shadow 0.7s ease;
}

nav ul li a:hover {
  box-shadow: 0 0 15px 5px rgba(164, 81, 197, 0.74);
}

body {
  background: linear-gradient(135deg, #280131, #350341, #4f0086, #6d4397, #998bad);
  color: #ffffff;
  overflow-x: hidden;
}

#sobre {
  padding: 10px;
  margin-bottom: -70px;
}

.sobre-container{
  padding-left: 100px;
}

#sobre h2,
#projetos h2,
#habilidades h2,
#certificados h2 {
  font-size: 30px;
  padding-bottom: 100px;
  text-align: center;
  font-family: "montserrat", sans-serif;
  margin-bottom: 40px;
  font-weight: 380;
  letter-spacing: 3px;
}

#sobre p {
  font-size: 18px;
  padding-top: 60px;
  color: #b8acc9;
  text-align: justify;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#habilidades {
  padding: 150px;
}

.icons {
  color: #2f0344;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: box-shadow 0.7s ease;
  margin: 50px;
  list-style: none;
  gap: 50px;
}

.icons li i {
  transition: transform 0.3s, color 0.3s;
  font-size: 50px;
}

.icons li i:hover {
  transform: scale(1.2);
  color: #2ac294;
}

.container_categorias ul li {
  list-style: none;
}

.container_categorias h3 {
  text-align: center;
  color: #9261c4;
  letter-spacing: 4px;
  font-weight: 600;
  padding-top: 40px;
}

/* Seção certificados  */
#certificados h2 {
  padding-bottom: 50px;
}

#certificados {
  text-align: center;
  padding: 50px 20px;
  /* background-color: #13061ab0; */
  color: #ffffff;
}

.certificados-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.certificado-item {
  background-color: #5d1974;
  border-radius: 50px;
  padding: 10px;
  width: calc(25% - 20px);
  min-width: 200px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
}

.certificado-item a {
  text-decoration: none;
  color: #fff;
}

.certificado-item h3 {
  font-size: 13px;
  margin-bottom: 1px;
}

.certificado-item p {
  font-size: 12px;
  color: #d1c4e9;
}

.certificado-item:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
}

.foot {
  color: #3c1e57;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Ajustando o tamanho dos elementos em telas menores */
@media (max-width: 895px){
  header {
   padding: 20px;
    text-align: center;
    white-space: nowrap;
  }

  body {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  nav ul {
    flex-direction: colum;
    gap: 10px;
    align-items: center;
    display: none;
  }

  nav ul li a{
    font-size: 16px;
  }
  
  #home h1 {
    font-size: 20px;    white-space: nowrap;
    width: 100%;
  }

  #sobre {
    font-size: 16px;
    padding-top: 20px;
  }

  .icons {
    gap: 30px;
    font-size: 40px;
  }

  .container_categorias {
    display: block;
    text-align: center;
  }

  .container_categorias ul {
    display: inline-block;
    padding: 0;
  }

  #projetos .div-container,
  #projetos .div-container-2,
  #projetos .div-container-3 {
    display: block;
    margin-bottom: 40px;
    align-items: center;
  }

  #projetos .text {
    text-align: center;
    
  }

  #certificados ul {
    padding-left: 0;
    list-style-type: none;
    text-align: center;
  }

  #certificados ul li a {
    font-size: 18px;
    display: block;
    margin: 10px 0;
  }


  .icons li i {
    font-size: 30px;
  }

  .container_categorias h3 {
    font-size: 20px;
  }

  #sobre p {
    font-size: 14px;
  }

  nav ul {
    gap: 5px;
  }

  nav ul li a {
    font-size: 14px;
  }

  .container {
    width: 100%;
  }

  .redes_icons a {
    font-size: 20px;
  }
}

